header {
    display: flex;
    flex-direction: column;
    height: 50px;
    background: #222;
    justify-content: center;
}

header h1 {
    color: #FFF;
    font-size: 1.4em;
    margin-left: 40px;
}

.container {
    margin: 20px 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
}

form h2 {
    margin-bottom: 20px;
}

label {
    font-size: 0.9em;
    font-weight: bold;
}

input {
    padding: 8px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    margin: 5px 0;
}

button {
    width: 80px;
    height: 30px;
    background: #069;
    color: #FFF;
    border: 1px solid #069;
    border-radius: 4px;
    align-self: flex-end;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input__error {
    border-color: red;
}

.label__error {
    color: red;
}

.error {
    font-size: 0.8em;
    color: red;
}
